html,body { 
  height:99%;
  margin: 0%;
  background-color: white;
}

.borderDiv{
  width:98.4%;
  height: 100%;
  border-top: 10px solid rgb(135, 232, 245);
  border-left: 10px solid rgb(135, 232, 245);
  border-right: 10px solid rgb(135, 232, 245);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
