html,body { 
  height:100%;
  margin: 0px;
  background-color: black;
}

.borderDiv{
  width:98.4%;
  height: 100%;
  border-top: 10px solid rgb(135, 232, 245);
  border-left: 10px solid rgb(135, 232, 245);
  border-right: 10px solid rgb(135, 232, 245);
}